* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.background-cadastro {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: linear-gradient(#0000007d, #0000007d), url('../assets/f1-ferrari-login.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.cadastro {
    background-color: linear-gradient(rgb(255,255,255,0.5));
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
}