.recepcao-quizzes {
    padding: 24px 0;
}

.recepcao-quizzes h2 {
    text-align: center;
}

.quiz-lista {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 48px;
}

.quiz-card {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10rem;
    width: 36rem;
    padding: 24px 48px;
    border-radius: 10px;
    background-color: rgb(199, 199, 199);
}

.quiz-card div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 12px;
}

.quiz-card div h3 {
    font-size: 24px;
}

.quiz-card div button {
    font-size: 16px;
    color: white;
    border-style: none;
    border: none;
    border-radius: 8px;
    padding: 12px 24px;
    background-color: rgb(197, 0, 0);
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
}

button:hover {
    transform: scale(1.1);
}