@import url('https://fonts.googleapis.com/css2?family=Overpass:ital,wght@0,100..900;1,100..900&family=Racing+Sans+One&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-red-color: rgb(230, 0, 0);
}

body,
html {
    scroll-behavior: smooth;
    font-family: "Overpass", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

#historia, #timeline {
    scroll-margin-top: 12vh;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Racing Sans One", sans-serif;
    font-weight: 400;
    font-style: normal;
}

h2 {
    font-size: 30px;
}

p {
    font-size: 20px;
}

a {
   font-size: 20px; 
}

.container {
    margin: auto;
    width: 80%;
}

.f1 {
    color: rgb(230, 0, 0);
}

header {
    height: 12vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;

    z-index: 1000;
    transition: background-color 0.3s ease;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

header.transparente {
    background-color: transparent;
}

header.abaixo {
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(4px);
}

.logo {
    transition: transform 0.3s ease;
}

.logo:hover {
    transform: scale(1.2);
}

.logo h1 {
    color: var(--primary-red-color);
    font-size: 2.5rem;
}

.logo h2 {
    color: white;
}

ul {
    list-style: none;
    display: flex;
    gap: 1.5rem;
}

ul li a {
    text-decoration: none;
    color: white;
    transition: color 0.1s ease-in-out;
}

header ul li a:hover {
    color: var(--primary-red-color);
}

.register a {
    margin-left: 1rem;
    text-decoration: none;
    color: white;
    font-size: 1.1rem;
    padding: 8px 12px;
    border-radius: 4px;
}

#cadastro {
    color: black;
    background-color: white;
    transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out;
}

#cadastro:hover {
    background-color: var(--primary-red-color);
    color: white;
}

#acesso {
    background-color: var(--primary-red-color);
    transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out;
}

#acesso:hover {
    color: black;
    background-color: white;
}

.main {
    height: 100vh;
    background: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)), url('../assets/f1-ferrari-slogan.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: white;
    position: relative;
}

.slogan {
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.slogan h2 {
    font-size: 3rem;
    line-height: 1.4;
}

.slogan span {
    color: var(--primary-red-color);
}

.main a {
    text-decoration: none;
    color: white;
    background-color: var(--primary-red-color);
    border-radius: 5px;
    font-size: 20px;
    padding: 1rem 1.5rem;
}

.conteudo-extra {
    height: 70vh;
    background-color: #f2f2f2;
    color: #111;
    padding: 2rem;
}

#historia {
    display: flex;
}

#historia .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    gap: 48px;
}

#historia .container .texto-historia {
    display: flex;
    flex-direction: column;
    gap: 18px;

    background-color: #b30000;
    padding: 24px;
    border-radius: 8px;
}

.texto-historia p {
    text-align: justify;
    font-size: 22px;
    color: white; 
}

#historia .container h2 {
    font-size: 48px;
}

/* TESTE */


.timeline {
    padding: 60px 0;
    max-width: 900px;
    margin: auto;
}

.decade {
    margin-bottom: 40px;
    background-color: #1c1c1c;
    padding: 50px;
    border-left: 5px solid crimson;
    border-radius: 10px;
    box-shadow: 0 0 10px #000;
    transition: transform 0.3s ease;
    color: white;

}

.decade:hover {
    transform: translateX(15px);
}

.decade h2 {
    color: crimson;
}

.f1-image {
    width: 100%;
    max-height: 300px;
    object-fit: cover;
    border-radius: 8px;
    margin: 15px 0;
}

button {
    background-color: crimson;
    color: white;
    padding: 8px 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}

button:hover {
    background-color: #b30000;
}

.divDetalhe.hidden {
    display: none;
}

.divDetalhe {
    margin-top: 15px;
    background-color: #bb1919;
    padding: 50px 70px;
    border-radius: 5px;
    animation: fadeIn 0.4s ease-in-out;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.caracteristicas {
    display: flex;
    flex-direction: column;
    list-style: circle;
    line-height: 1;
}

.curiosidades {
    display: flex;
    flex-direction: column;
    list-style: circle;
    line-height: 1;
}

/* FOOTER */
.footer {
    background-color: var(--primary-red-color);
}

.frase-continuacao {
    padding: 32px 0;
    text-align: center;
}

.conteudo-footer {
    padding: 32px 0;

    display: flex;
    justify-content: space-evenly;
    align-items: center;

}

.conteudo-footer .logo h1 {
    color: #000;
}

.social-media {
    display: flex;
    gap: 24px;
}

.social-media svg {
    height: 45px;
    transition: transform 0.3s ease-in-out;
}

.social-media svg:hover {
    transform: scale(1.1);
}

.copyright span {
    color: black;
    transition: color 0.3s ease-in-out;
}

.copyright span:hover {
    color: white;
}