@import url('https://fonts.googleapis.com/css2?family=Racing+Sans+One&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

.container {
    margin: auto;
    width: 80%;
}

/* Header */

header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 12vh;
    position: sticky;
    top: 0;
    background-color: rgba(255, 255, 255, 0.226);
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .container .logo {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    width: 15%;
}

.logo h1,h2 {
    font-family: "Racing Sans One", sans-serif;
}

.container ul {
    display: flex;
    justify-content: center;
    width: 35%;
    gap: 12%;
    list-style: none;

}

header .container ul li a {
    color: red;
}

.register {
    display: flex;
    justify-content: center;
    width: 15%;
    gap: 12%;
}

.register a {
    padding: 8px 12px;
    color: white;
    border-radius: 5px;
}

#cadastro {
    background-color: red;
}

#acesso {
    background-color: black;
}

/* Slogan */

.main{
    display: flex;

    background: linear-gradient(#0000007d, #0000007d), url("../assets/f1-ferrari-qlt.jpg");
    width: 100vw;
    height: 100vh;
    background-position: center;
    
    object-fit: cover;
    background-size: cover;
    
}

.main .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}

.slogan h2 {
    font-size: 48px;
    color: white;

}

.slogan h2 span {
    color: red;
}